@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.subtitulo{

    font-size: larger;
    color: #0170e3;
  
  }

b.descripcion  {

font-size: x-large;
text-align: center;
margin: 0 auto;
width: 70%;
max-width: 1500px;


}

  .container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
  }

h1.titulo2 {
  color: #c55a6a;
  font-size: 800%;
  margin: 0 5%;
  padding-top: 15%;
  text-align: center;
}

h1.titulo3 {
    color: #c55a6a;
    font-size: 800%;
    margin: 0 5%;
    padding-top: 5%;
    text-align: center;
  }

section.seccion2 {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

section.seccion3 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 20%;
  }

section.seccion2 p {
  font-size: 100%;
  color: black;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }

  .mainin {
    margin: 0%;
  }

  h1.titulo2 {
    font-size: 600%;
  }

  h1.titulo3 {
    font-size: 600%;
  }

  section.seccion2 {
    display: block;
    justify-content: baseline;
    align-items: center;
    margin-top: 5%;
  }

  section.seccion3 {
    margin-top: 5%;
    margin-bottom: 30%;
  }

  section.seccion2 p {
    font-size: 100%;
    padding: 0 5%;
  }

  section.seccion3 p {
    font-size: 100%;
    padding: 0 5%;
    
  }

}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }

  .main {
    margin: 5%;
  }

  h1.titulo2 {
    font-size: 400%;
    margin-top: 20%;
  }

  section.seccion2 p {
    font-size: 100%;
  }

  h1.titulo3 {
    font-size: 400%;
    margin-top: 20%;
  }

  section.seccion3 b {
    font-size: 100%;
  }

  b.descripcion{

font-size: large;

  }
}

@media only screen and (max-width: 450px) {
  h1.titulo2 {
    font-size: 300%;
    margin-top: 25%;
  }

  section.seccion2 p {
    font-size: 100%;
  }
  section.seccion3 {
  
    margin-bottom: 40%;
  }
}
@media only screen and (max-width: 400px) {
  h1.titulo2 {
    font-size: 300%;
    margin-top: 30%;
  }

  section.seccion2 p {
    font-size: 90%;
  }


h1.titulo3 {
    font-size: 300%;
    margin-top: 10%;
  }

  section.seccion3 b {
    font-size: 100%;
  }
  b.descripcion{

    font-size: small;
    
      }
}

@media only screen and (max-width: 350px) {
    h1.titulo2 {
        font-size: 200%;
        margin-top: 30%;
      }
    
      section.seccion2 p {
        font-size: 70%;
      }
    
   
    h1.titulo3 {
      font-size: 200%;
    }
  
    section.seccion3 b {
margin-bottom: 45%;
    }
}

