
.social-bar {
    position: fixed;
    right: 0;
    top: 60%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
  }
  
  .icon {
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    display: flex;
    transition: all 0.5s;
  }
  
  .icon-facebook1 {
    background: #2e406e;
    font-size: 1.3rem;
  }
  
  .icon-whatsapp1 {
    background: orangered;
    font-size: 1.3rem;
  }
  
  .icon-google1 {
    background: #25D366;
    font-size: 1rem;
  }
  
  .icon-instagram1 {
    background: #e83028;
  
  }
  
  .icon:first-child {
    border-radius: 1rem 0 0 0;
  }
  
  .icon:last-child {
    border-radius: 0 0 0 1rem;
  }
  
  .icon:hover {
    padding-right: 4rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  }
  
  